/* Coded by Denica del Rosario */
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #f2f5e7;
}
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 140px;
  height: 100%;
  background: #214354;
  padding-top: 60px;
  padding-left: 40px;
  border-right: 20px solid #745573;
}
main {
  margin-left: 200px;
}
/* Browser grid template */
.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(20, minmax(152.4px, auto));
  grid-gap: 15px;
}
.grid div {
  padding: 0px;
  border-radius:
}
/* Modular containers */
.header {
  grid-row: 1/2;
  grid-column: 1/8;
  align-self: center;
  margin-left: 75px;
}
.description {
  grid-row: 1/5;
  grid-column: 1/5;
  align-self: start;
  margin: 100px 75px 0px;
}
.gallery1{
  grid-row: 1/6;
  grid-column: 5/8;
  margin-right: 75px;
  align-self: center;
}
.gallery1 > img{
  object-fit: cover;
  width: 100%;
  max-height: 80%;
}
.disruptive-header {
  grid-row:5/6;
  grid-column: 1/8;
  align-self: end;
  margin: 0px 75px 0px;
}
.disruptive-info {
  grid-row:6/8;
  grid-column: 1/8;
  align-self: start;
  margin: 0px 75px 0px;
}
.gallery2 {
  grid-row: 8/13;
  grid-column: 1/5;
  margin: 0px 75px 0px;
}
.gallery2 > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
.pros-and-cons {
  grid-row: 8/13;
  grid-column: 5/8;
  margin-right: 75px;
  align-self: start;
}
/* .pros {
  grid-row: 8/10;
  grid-column: 5/8;
  margin-right: 75px;
  align-self: start;
}
.cons {
  grid-row:10/13;
  grid-column: 5/8;
  margin-right: 75px;
  align-self: start;
} */
.dressx {
  grid-row: 13/16;
  grid-column: 5/8;
  margin: 50px 75px 126px 0px;
  align-self: center;
}
.youtube-video {
  grid-row: 13/16;
  grid-column: 1/5;
  margin: 50px 75px 0px;
  margin-bottom: 126px;
}
/* .dressx {
  grid-row: 13/16;
  grid-column: 1/4;
  margin: 0px 75px 134px 75px;
  align-self: center;
}
.youtube-video {
  grid-row: 13/16;
  grid-column: 4/8;
  margin-right: 75px;
  margin-bottom: 134px;
} */
.youtube-video iframe {
  width: 100%;
  height: 100%;
}
.members {
  grid-row: 16/20;
  grid-column: 1/3;
  margin: 0px 0px 75px 75px;
}
.references {
  grid-row: 16/20;
  grid-column: 3/8;
  margin: 0px 75px 75px;
}
.footer {
  grid-row: 20/21;
  grid-column: 1/8;
  background: #bc5f84;
}
/* Header and paragraph formatting */
h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
  font-size: 69.7px;
  color: #bc5f84;
  margin-top: 0px;
}
h2 {
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
  font-size: 39.7px;
  color: #bc5f84;
}
h3 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  font-size: 29.7px;
  color: #bc5f84;
}
h4 {
  font-family: 'Archivo', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #bc5f84;
}
p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
/* Other formatting */
.body-text {
  font-size: 15px;
  color: #00313a;
  text-align: justify;
  margin-top: 10px;
}
.image-cite {
  font-size: 10px;
  color: #00313a;
  margin-top: 5px;
}
.member-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 19.7px;
  color: #214354;
  margin-top: 20px;
}
.references-text {
  color: #214354;
  text-align: justify;
  margin-top: 20.5px;
}
.italic {
  font-style: italic !important;
}
.footer-text {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #f2f5e7;
  margin-top: 60px;
}
a:link, a:visited {
  font-family: 'Archivo', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #f2f5e7;
  text-align: left;
  text-decoration: none;
}
ul li {
  margin: 20px 0px 15px 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #00313a;
  text-align: justify;
}
